body {
  display: flex grid;
  flex-wrap: wrap;
  flex-direction: column;
  align-items: center;
  padding: 0 30px 0 30px;
}

div {
  display: flex grid;
  flex-wrap: wrap;
}

#gameTitle {
  position: relative;
  text-align: center;
}

nav {
  display: flex;
  width: 100%;
}

#nameInput {
  display: flex;
  flex: 1;
  /* border: 2px solid blue; */
  margin-left: 100px;
  flex-wrap: wrap;

  /* justify-content: flex-start;
  margin-top: 100px;
  margin-left: 100px; */
}

#form {
  /* display: flex;
  width: 50%; */
  
}

#nameDisplay {
  align-self: flex-start;
}


#startTimer{
  display: flex;
  flex-direction: column;
  /* border: 2px solid blue; */
  flex-wrap: wrap;
  margin-top: 20px;
  margin-right: 100px;
}
#tamagotchi {
    display: flex grid;
    /* flex-direction: row; */
    /* flex: 5; */
    border: 1px solid black;
    padding: 1em;
    margin: 0 100px 0 100px;
    /* min-width: 25vw; */
    flex-wrap: wrap;
    background-color: thistle;
  }

#metrics {
  display: flex;
  flex: 5;
  /* align-content: center; */
  justify-content: space-between;
  align-items: flex-start;
}




.face {
  background-color: floralwhite;
  width: 370px;
  height: 370px;
  border-radius: 74px 75px 75px 75px;
  margin-left: 100px;
}

.mouth {
  display: flex;
  position: absolute;
  background-color: black;
  width: 215px;
  height: 90px;
  border-radius: 7px 7px 100px 100px;
  top: 550px;
  left: 330px;
}

.eye-section {
  display: flex;
  width: 275px;
  height: 100px;
  position: absolute;
  left: 320px;
  top: 360px;
}

.left-eye, .right-eye {
  display: flex;
  background-color: blueviolet;
  width: 52px;
  height: 65px;
  border-radius: 50px;
  position: absolute;
  top: 25px;

}

.right-eye {
  display: flex;
  right: 40px;
}

  #buttons {
    display: flex;
    align-items: flex-end;
    margin: 20px 100px 0 100px;
    justify-content: space-evenly;
  }