body {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0 30px 0 30px;
  background-color: azure;
  font-family: 'Press Start 2P', cursive;
}

.background {
  display: flex;
  position: fixed;
  top: -50%;
  left: -50%;
  width: 200%;
  height: 200%;
  z-index: -1;
}

.background img {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  min-width: 50%;
  min-height: 50%;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 90%;
}

#gameTitle {
  position: relative;
  text-align: center;
  color:rgb(255, 255, 255)
}

nav {
  display: flex;
  width: 100%;
  background-color: rgba(0, 100, 0, 0.608);
  color: rgb(255, 255, 255);
}

#nameInput {
  display: flex;
  flex: 1;
  margin-left: 100px;
  flex-wrap: wrap;
}

#nameDisplay {
  align-self: flex-start;
}

.inputform, .submit, #startBtn {
  font-family: 'Press Start 2P', cursive;
  height: 30px;
}


#startTimer{
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  margin-top: 20px;
  margin-right: 100px;
}

#messageSection{
  text-align: center;
}

#metrics {
  display: flex;
  flex: 5;
  justify-content: space-evenly;
  align-items: flex-start;
  /* padding: 0 30px 10px 0; */
  background-color: rgba(0, 100, 0, 0.608);
}

.metric-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: larger;
  margin-top: 0;
  padding-right: 10px;
  padding-left: 10px;
  color: white;
}

#tamagotchiBox {
    display: flex ;
    flex-direction: column;
    justify-content: flex;
    align-items: center;
    border: 1px solid black;
    border-radius: 50%;
    padding: 3em;
    width: 400px;
    height: 350px;
    /* margin-top: 0; */
    /* padding-bottom: 30px; */
  }

  .polka {
    background-image: 
      radial-gradient(rgb(255, 255, 255) 30%, transparent 30%),
      radial-gradient(rgb(255, 255, 255) 30%, transparent 30%);
    background-position: 0px 0px, 80px 80px;
    background-size: 160px 160px;
    background-color: rgb(227, 138, 138);
  }  


.face {
  display: flex;
  flex-direction: column;
  position: relative;
  justify-content: center;
  align-items: center;
  background-color: floralwhite;
  width: 290px;
  height: 275px;
  border-radius: 150px 150px 75px 75px;
  top: 200px;
  /* margin-bottom: -40px; */
}

.mouth {
  display: flex;
  position: absolute;
  background-color: floralwhite;
  width: 215px;
  height: 90px;
  border-radius: 7px 7px 100px 100px;
  bottom: 30px;
  /* left: 0; */
}

.eye-section {
  display: flex;
  align-items: center;
  justify-content: space-around;
  width: 275px;
  height: 100px;
  position: absolute;
  top: 100px; 
}

.left-eye, .right-eye {
  /* display: flex; */
  background-color: rgb(0, 0, 0);
  width: 52px;
  height: 65px;
  border-radius: 50px;
  /* top: 25px; */

}

.right-eye {
  /* display: flex; */
  /* right: 40px; */
}

  #buttons {
    display: flex;
    align-items: flex-end;
    margin: 50px 100px 0 100px;
    justify-content: center;
  }

  #feedBtn, #lightsBtn, #playBtn {
    background-color: rgb(31, 249, 6);
    height: 40px;
    width: 200px;
    border-radius: 15px;
    margin: 40px 20px 0 20px;
    /* font-size: larger; */
    font-family: 'Press Start 2P', cursive;
  }